$breakpoints: (
  xs: 319px,
  sm: 575px,
  md: 978px,
  xl: 1200px,
);

$container-max-widths: (
  xs: 320px,
  sm: 768px,
  md: 1200px,
  xl: 1440px,
);

$black: #0a0a0a;
$white: #fff;
$backgroundDarkGrey: #666;
$backgroundLightGrey: #e7e7e2;
